#popup {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    background-color: #555;
    color: white;
    padding: 20px;
    width: 20vw;
    left: 40vw;
    top: 10px;
}


.show {
    visibility: visible !important;

    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s

}


@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} 

